click==6.7
Flask==0.12.2
Flask-Dropzone==1.5.3
Flask-SQLAlchemy==2.3.2
Flask-Uploads==0.2.1
Flask-WTF==0.14.2
itsdangerous==1.1.0
Jinja2==2.10
MarkupSafe==1.0
Pillow==5.0.0
SQLAlchemy==1.2.7
Werkzeug==0.14.1
WTForms==2.1
