
.pb-photo-container {
    position: relative;
    text-align: center;
    color: white;
    }

.pb-photos-section {
    /* Prevent vertical gaps */
    line-height: 0;
    -webkit-column-gap:   0px;
    -moz-column-gap:      0px;
    column-gap:           0px;  
    }

.pb-photos-section img {
    /* Just in case there are inline attributes */
    width: 100% !important;
    height: auto !important;
    }
