{% extends "base.html" %}

{% block backbutton %}
    {% with back_url=url_for('timeline') %}
    {% include 'backbutton.html' %}
    {% endwith %}
{% endblock %}

{% block body %}

<p><i>English version below</i></p>

<p>
    <h2>Waarom deze website</h2>

<p>
Welkom op onze website! 😊 Dit wordt onze centrale plek om foto's te delen met familie en vrienden, van onszelf en van ons kleine meisje. Het idee achter deze website is dat we foto's kunnen delen zonder dat daar grote bedrijven bij komen kijken. Alle foto's worden gehost op onze eigen hardware, dus als we besluiten om een foto te verwijderen van deze website, dan is de foto daarna ook niet meer op internet te vinden. We vragen daarom ook om de foto's van deze website niet te delen op Facebook, Instagram of andere platformen. Die proberen we juist te omzeilen!
</p>

<p>
Voel je vrij om een comment te schrijven op de website - deze worden dan zichtbaar voor iedereen. Maar als je liever alle foto's anoniem bekijkt dan is dat natuurlijk ook helemaal prima. Geef af en toe anders een hartje, dat is sowieso anoniem!
</p>

<p>
Veel plezier!
</p>

</p>
<p>

<br>

<h2>Why this website</h2>

<p>
Welcome to our website! 😊 This will be our central place to share photos with family and friends, of ourselves and of our little girl. The purpose of this website is to be able to share photo's without involving the webservers of big companies. All photos are hosted on our own hardware, so when we decide to remove a photo, it will no longer be possible to find it on the internet. Therefore we ask you to please not share any of the photos you find on this website on any other platforms such as Facebook, Instagram, or any other platforms. That is exactly what we're trying to avoid!
</p>

<p>
Feel free to leave a comment anywhere on the website - these will be posted publicly and are readable by anyone. If you prefer to browse through the photos anonymously that is of course also fine. Click the heart-button every once in a while, which is fully anonymous!
</p>

<p>
Have fun!
</p>

</p>


{% endblock %}
