<!doctype html>
<title>fotommy</title>

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">

<link rel=stylesheet type=text/css href="{{ url_for('static', filename='base.css') }}">

<link rel="apple-touch-icon" sizes="180x180" href="static/icons/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="static/icons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="static/icons/favicon-16x16.png">
<link rel="manifest" href="static/icons/site.webmanifest">
<link rel="mask-icon" href="static/icons/safari-pinned-tab.svg" color="#5bbad5">
<meta name="msapplication-TileColor" content="#9f00a7">
<meta name="theme-color" content="#ffffff">

{% block head %}{% endblock %}

<div class="page">

    <div class="bg-lightgrey fotommy-header">
        {% block backbutton %}{% endblock %}
        <h1 class="text-darkgrey" style="display:inline; vertical-align: middle">Fotommy</h1>
        {% block aboutbutton %}{% endblock %}
    </div>

    {% for message in get_flashed_messages() %}
        <div class=flash>{{ message }}</div>
    {% endfor %}

    {% block body %}{% endblock %}

</div>

{% block scriptinputs %}{% endblock %}

<script>
{% block script %}{% endblock %}
</script>
