{% for comment in comments %}
    <div class="bg-verylightgrey commsec-comment-container">
    <b style="color: #385a97">{{ comment.author }}</b><span
        style="font-size: 0.3em"
        class="text-darkgrey"
        >
    {% if comment.is_public() %}
        [public]
    {% else %}
        [private]
    {% endif %}
    </span>
    {{ comment.text }}
    </div>
{% endfor %}

<div style="font-size:1.2em; padding-top: 0.8em; padding-bottom: 0.1em; color: #385a97;"><i>Leave a comment!</i></div>

<form method="post">
    {{ form.hidden_tag() }}

    {% for message in form.visibility.errors %}
    <div class="error">{{ message }}</div>
    {% endfor %}

    {{ form.visibility }}

    {% for message in form.author.errors %}
    <div class="error">{{ message }}</div>
    {% endfor %}
    <p>
        {{ form.author(size=32, class_="commsec-commentform-authorfield", placeholder="Your name") }}
        </p>

    {% for message in form.text.errors %}
    <div class="error">{{ message }}</div>
    {% endfor %}
    <p style="margin-top: -0.7em;">
        {{ form.text(size=32, class_="commsec-commentform-messagefield", placeholder="Your message") }}
        </p>

    <p style="margin-top: -1.0em;">
        <button type="submit" class="fotommy-button fotommy-postbutton">
            <i class="far fa-comment"></i> Submit
            </button>
        </p>
</form>
