<div
    style="display: inline-block; text-align: right; margin-bottom: 1em; margin-top: 0.4em">
    <form method="post" id="{{form._prefix}}form">
        {{ form.hidden_tag() }}
        <div id="{{form._prefix}}submit" class="fotommy-button fotommy-nicebutton">
            <i class="fas fa-heart"></i> <i class="fas fa-heart"></i> <i class="fas fa-heart"></i>
            </div>
        <div style="display: inline-block; text-align: right; font-size: 1.15em">
        <b id="{{form._prefix}}n_likes">{{ n_likes }}</b><b><i class="fas fa-heart"></i></b>
            {% if n_likes == 1 %}
            person likes
            {% else %}
            people like
            {% endif %}
            this {{objstr}}
        </div>
        <input type="hidden" name="prefix" value="{{form._prefix}}" />
    </form>
</div>


