{% extends "base.html" %}

{% block body %}

<link rel=stylesheet type=text/css href="{{ url_for('static', filename='register.css') }}">


<div>
<form method="post">
    {{ loginform.hidden_tag() }}

    {% for message in loginform.email.errors %}
    <div class="error">{{ message }}</div>
    {% endfor %}

    <span style="display: block; margin-top: 0.4em;">
        {{ loginform.email(
            size=64,
            placeholder="name@domain.nl",
            class_="register-emailfield")
            }}
        </span>

    {% for message in loginform.password.errors %}
    <div class="error">{{ message }}</div>
    {% endfor %}

    <span style="display: block; margin-top: 0.4em;">
        {{ loginform.password(
            size=64, placeholder="password",
            class_="register-passwordfield")
            }}
        </span>

    <span style="display: block; margin-top: 0.4em;">
        {{ loginform.submit(class_="fotommy-button fotommy-backbutton") }}
        </span>

</form>
</div>

{% endblock %}

