{% extends "base.html" %}

{% block body %}

<p>Use your email and password to login.</p>

<div>
<form method="post">
    {{ loginform.hidden_tag() }}

    {% for message in loginform.email.errors %}
    <div class="error">{{ message }}</div>
    {% endfor %}

    <span style="display: block; margin-top: 0.4em;">
        {{ loginform.email(
            size=64,
            placeholder="name@domain.nl",
            class_="input-w100")
            }}
        </span>

    {% for message in loginform.password.errors %}
    <div class="error">{{ message }}</div>
    {% endfor %}

    <span style="display: block; margin-top: 0.4em;">
        {{ loginform.password(
            size=64, placeholder="password",
            class_="input-w100")
            }}
        </span>

    <span style="display: block; margin-top: 0.4em;">
        {{ loginform.submit(class_="fotommy-button fotommy-greenbutton") }}
        </span>

</form>
</div>

<p style="margin-top: 0.6em">No account yet?
Click here to create a new account:
<a
    href="{{ url_for('register') }}" class="fotommy-button fotommy-orangebutton" >
    <i class="fas fa-user-circle"></i> Create account
    </a>
</p>

{% endblock %}

