<div class="po-post-container w100">

<div class="po-date text-darkgrey">{{ post.date }}
{% if is_admin %}
<a
    href="{{ url_for('editpost', post_id=post.id) }}"
    class="fotommy-button fotommy-orangebutton"
    style="font-size: 0.6em"
    >
    Edit this post
    </a>
{% endif %}
</div>

<div style="white-space: pre-wrap;">{{ post.text }}</div>

<br>

{% with photos=post.photos, album_name="uploads" %}
{% include 'photos_block.html' %}
{% endwith %}

{% with n_likes=post.n_likes, form=post.likeform, objstr="post" %}
{% include 'likeblock.html' %}
{% endwith %}

<br>

{% if current_user.is_authenticated %}
    {% set comments = post.comments_for_user(current_user) %}
{% else %}
    {% set comments = post.public_comments() %}
{% endif %}

{% with comments=comments, form=post.commentform %}
{% include 'commentsection.html' %}
{% endwith %}

</div>
