{% extends "base.html" %}

{% block loginblock %}
{% include 'loginblock.html' %}
{% endblock %}

{% block aboutbutton %}
    <div class="fr">
    <a href="{{ url_for('about') }}" class="fotommy-button fotommy-greenbutton" >
        <i class="far fa-question-circle"></i> About
    </a>
    </div>
    &nbsp
{% endblock %}


{% block body %}

<link rel=stylesheet type=text/css href="{{ url_for('static', filename='timeline.css') }}">

<link rel=stylesheet type=text/css href="{{ url_for('static', filename='post_block.css') }}">

<link rel=stylesheet type=text/css href="{{ url_for('static', filename='photos_block.css') }}">

<link rel=stylesheet type=text/css href="{{ url_for('static', filename='commentsection.css') }}">

{% if current_user.is_admin() %}
<div class="bg-lightpink" style="margin-top: 0.4em; margin-bottom: 0.6em; padding: 0.3em">
    <a
        href="{{ url_for('users') }}" class="fotommy-button fotommy-orangebutton" >
        <i class="fas fa-user-circle"></i> Users
        </a>
    <a
        href="{{ url_for('createpost') }}" class="fotommy-button fotommy-orangebutton" >
        <i class="fas fa-images"></i> Create post
        </a>
    </div>
{% endif %}


{% for post in posts %}
    {% with post=post %}
    {% include 'post_block.html' %}
    {% endwith %}
    <div class="tl-post-divider w100 bg-lightpink"></div>
{% else %}
    <em>No posts found.</em>
{% endfor %}
{% endblock %}


{% block scriptinputs %}
<script type="text/javascript" src="{{ url_for('static', filename='js/like.js') }}">
</script>
{% endblock %}

{% block script %}
{% for post in posts %}
document.getElementById("{{post.likeform._prefix}}submit").addEventListener(
    "click",
    function(){submitFunction("{{post.likeform._prefix}}")}
    );
document.getElementById("{{post.commentform._prefix}}submit").addEventListener(
    "click",
    function(){disableCommentSubmit("{{post.commentform._prefix}}")}
    );
{% endfor %}
{% endblock %}

