{% extends "base.html" %}

{% block loginblock %}
{% include 'loginblock.html' %}
{% endblock %}


{% block body %}

{% for user in users %}
    <div style="margin-bottom: 0.6em">
        <div style="width:80%;">
            <b>{{ user.name }}</b>
            <a
                href="{{ url_for('user', user_id=user.id) }}" class="fotommy-button fotommy-orangebutton" style="font-size: 0.6em">
                <i class="fas fa-user-circle"></i> Edit user
                </a>
            </div>
            <div>
                {{ user.email }}
                </div>
            <div style="margin-top: 0.15em;">
                {% for group in user.groups %}
                <span class="group-button">{{group.name}}</span>
                {% else %}
                <em>Not assigned to any group</em>
                {% endfor %}
                </div>
    </div>
{% else %}
    <em>No users found.</em>
{% endfor %}

{% endblock %}


